*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;
    color: black;
}

html{
    height: 100%;
}

body{
    /* border: solid 1px; */
    max-width: 1230px;
    margin: 0 auto;
    background-color: rgb(65, 21, 103);
    /* background-repeat: no-repeat; */
    background-position: 100%;
    background-size: cover;
    height: 100%;
}

section#main{
    border: rgb(50, 32, 67) 4px solid;
    padding: 2px;
    /* display: flex; */
    /* justify-content: center; */
    /* max-width: 100%; */
    background: rgb(136, 120, 165);
    border-radius: 10px;
}

div.icons-main{
    display: inline-block;

}

p#p-main{
font-size: 18px;

}
h1 , p{
    color: rgb(50, 32, 67);
}
.container{
    padding: 0 2rem;
    text-align: center;
    font-size: 22px;
    transform: translate(0px, 60px);
}

img#guiImg{
    width: 10rem;
    /* bottom: 13px; */
    /* position: relative; */
    /* padding:  0 12px; */
    border-radius: 50%;
    border: rgb(50, 32, 67) 4px solid;
}
div.fotoGui-main{
    /* float: right; */
    text-align: center;
    /* padding: 10px; */
    /* background-color: red; */
    
}

input{
    border: none;
    padding: 1px;
    width: 15pc;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

textarea{
    width: 15pc;
    position: relative;
    top: 12px;
    border-radius: 10px;
}

img.icons-main-img{
    width:2rem;
    border-radius: 50%;
    display: inline-block;
    border: solid black;
    display: inline-block;
    padding: 4px;
    position: relative;
    top: 50%;
    /* right: 44.1pc; */
    transition: .4s ease-in-out;
    
}
img.icons-main-img:hover{
    transition: .4s ease-in-out;
    transform: scale(1.25);
}
#nome{
    /* background-color: red; */
    position: relative;
    bottom: 10px;
}

span{
    /* transform: translate(10px, 20px); */
    position: relative;
    bottom: 10px;
    color:rgb(50, 32, 67) ;
    font-weight: bold;
    font-size: 2pc;
}

form{
    color: rgb(50, 32, 67);
    border: 4px solid;
    background-color: rgb(136, 120, 165);
    padding: 14px;
    border-radius: 10px;
    transform: translate(0px, 10px);
}

button{
    width: 15pc;
    position: relative;
    top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    transition: .5s ease-in;
    background-color: rgb(123, 96, 174);
}
button:hover{
    background-color: rgb(50, 32, 67);
    color: white;
    transition: .5s ease-in;
}
